body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
}

.inp{
    font-size: 30pt;
    width: 80px;
    border-style: solid;
    padding-left: 10px;
}

.btns{
    margin-top: 30px;
    text-align: center;
}

.btn{
    font-size: 20pt;
    padding: 10px;
}

.wrong{
    box-shadow: 0 0 15px red;
}

.right{
    box-shadow: 0 0 15px green;
}